.dashboard_container {
  /* background-color: rgba(253, 253, 253, 255); */
  background-color: #fdfdfd;
}

/* .dashboard_links-container {
  display: flex;
  flex-direction: row;
  width: 100%;
} */

.form-control {
  position: relative;
  padding: 0.375rem 1.2rem;
  border: none;
  background-color: #f5f5f5;
}
.input-group-text {
  border: none;
  background-color: #f5f5f5;
}
.sidebar {
  box-shadow: 0.3rem 0.3rem 0.5rem#e9e9e9;
  background-color: #ffffff;
  height: 100%;
}
.analytics_text {
  letter-spacing: 0.3rem;
  margin-bottom: 0.6rem;
}
.anchor-tag {
  color: #7f9cb3;
}
.dashboard_links {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0.6rem;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 0.2rem;
  margin: 0 0 0.8rem 0;
  font-size: 0.8rem;
}
.icon {
  color: #20c997;
}

.dashboard_links-bottom {
  color: #8faac0;
  font-size: 0.8rem;
  margin-bottom: 0.8rem;
}
.active-link {
  background-color: #809fb8;
  color: #fff;
}

.toggler_bar {
  background-color: #f1f5f7;
  box-shadow: 0.3rem 0.3rem 0.7rem#cdcbcb;
  border-radius: 1rem;
  padding: 0.1rem;
}
.toggle_text {
  color: #bcccd9;
}
.toggle_button-light {
  border: none;
  border-radius: 1rem;
  background-color: #ffffff;
  padding: 0.3rem 2.9rem 0.3rem 0.3rem;
}

.toggle_button-dark {
  border: none;
  border-radius: 1rem;
  padding: 0.3rem 2.9rem 0.3rem 0.3rem;
}

.card_outer-container {
  background-color: #f5f5f5;
  /* padding: 0.2rem; */
}

.header-container {
  background-color: #fff;
  padding: 0.8rem;
  box-shadow: 0.3rem 0.3rem 0.7rem#cecece;
}

.card_inner-container {
  background-color: #ffffff;
  padding: 0.2rem;
}

.icon-background {
  padding: 0.3rem;
  background-color: #ebeef6;
}

.card_container {
  background-color: #fff;
  border-radius: 0.5rem;
}

.card-outer {
  /* padding: 0.2rem; */
  background-color: #fff;
  border-radius: 0.5rem;
}

.card {
  margin: 0.2rem;
  border: 1px solid #e9faf5;
}
